.container {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.image {
    max-height: 30vh;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.emptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
